# Telegram
BOT_TOKEN=your_bot_token_here
ADMIN_ID=your_telegram_id
CHANNEL_ID=-1003844332949

# Helius (NEED PAID PLAN FOR REAL DATA)
HELIUS_API_KEY=your_helius_key_here

# Wallet (NEED SOL FOR AUTO-TRADING)
WALLET_SOL=your_solana_wallet_address

# Render
PORT=10000
